.Road {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    .search-input {
        // flex: 0 0 10%;
    }
    .road-table {
        display: flex;
        position: relative;
        width: 100%;
        height: 80%;
        overflow: auto;
        background-color: #fff;
        box-shadow: 0 0 4px 1px #888888;
        thead {
            th {
                text-transform: uppercase;
            }
        }
        tbody {
            tr:hover {
                background-color: #DDDDDD;
            }
        }
        
    }
    .pagination-block {
        height: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}