.About {
    // word-wrap: normal;
    padding: 10px;
    max-width: 50%;
    @media (max-width: 768px) {
        max-width: 90%;
    }
    display: inline-block;
    li {
        list-style: none;
    }
    .text-italic {
        font-style: italic;
    }
}