.Header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    a, a:hover {
        text-decoration: none;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 100%;
        padding: 10px 0;
    }
    ul {
        display: flex;
        flex: 0 0 100%;
        background-color: #81d6a7;
        justify-content: center;
        padding: 0;
        height: 50px;
        li {
            flex: 0 0 150px;
            display: inline-block;
            border-left: 1px solid #80c08e;
            transition: .5s;
            &:last-child {
                border-right: 1px solid #80c08e;
            }
            &:hover {
                background-color: #479168;
                box-shadow: 0 0 5px 1px #1f4e34;
            }
            .active {
                background-color: #64b689;
                color: #f1f1f1;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: #549262;
                font-size: 18px;

                &:hover {
                    color: #fff;
                    
                }
            }
            @media (max-width: 768px) {
                flex: 0 0 100px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
}