.Footer {
    display: flex;
    flex: 0 0 100%;
    background-color: #81d6a7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 80px;
    @media (max-width: 768px) {
        height: 50px;
    }

    a, a:hover {
        text-decoration: none;
    }
    .info {
        padding: 0 0 10px 0;
        font-size: 14px;
        img {
            height: 18px;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    ul {
        display: flex;
        flex: 1;
        
        justify-content: center;
        // margin: 0 5px;
        li {
            flex: 0 0 100px;
            display: inline-block;
            height: 30px;
            border-left: 1px solid #80c08e;
            transition: .5s;
            &:last-child {
                border-right: 1px solid #80c08e;
            }
            &:hover {
                background-color: #479168;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                color: #549262;
                font-size: 16px;
            
                &:hover {
                    color: #fff;
                }
                
            }

            @media (max-width: 768px) {
                flex: 0 0 80px;
                a {
                    font-size: 12px;
                }
            }
            
        }
    }
}