

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  overflow: hidden;
  .header-block {
      display: flex;
  }
  .main-block {
      display: flex;
      flex: 1;
      justify-content: center;
      overflow: auto;
      margin: 15px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 0 4px 1px #888888;
  }
  .footer-block {
      flex: 0;
  }
}