@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(assets/images/bg.jpg) repeat top left #f0f0f0;
}
